<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles_admin.css">
    <title>Document</title>
</head>
<body>
    <!--BANNER-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">        
        <a class="navbar-brand" href="#">Mi Tienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="container">                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.php">Home </a>
                    </li>                    
                </ul> 
            </div>
            <div class="mt-2 mt-md-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../service/serviceAuth.php">Salir</a>
                    </li>                    
                </ul> 
            </div>
        </div>
    </nav>
    
    <!--CONTAINER-->
    <div class="container">        
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Categorias</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">Categoria #1</a></li>
                        <li class="list-group-item"><a href="#">Categoria #2</a></li>
                        <li class="list-group-item"><a href="#">Categoria #3</a></li>
                        <li class="list-group-item"><a href="#">Categoria #4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-8">                
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://media.aws.alkosto.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/t/e/teclado-eco.jpg" alt="..." height="200px" width="200px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Teclado Mecanico</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">En stock: 45</small></p>
                        </div>
                        <div class="card-footer d-flex"></div>
                      </div>
                    </div>
                  </div>                  
            </div>
        </div>
    </div>

  

      <script src="../assets/js/jquery-3.6.0.min.js"></script>
      <script src="../assets/js/bootstrap.min.js"></script>            
    <script src="../assets/js/main.js"></script>
</body>
</html>